# SEMANA 03
Anggie Bravo Aquilino

Temas:
    1. Números
    2. Variables
    3. Manejo de Cadenas
    4. Ingreso de Datos por teclado
    5. Operadores

3. Manejo de Cadenas

In [1]:
cadena = "Universidad Nacional Tecnológica de Lima Sur"

In [2]:
cadena

'Universidad Nacional Tecnológica de Lima Sur'

In [3]:
# Universidad Nacional Tecnológica de Lima Sur 
#01234....................................-2-1

In [4]:
cadena[5]

'r'

In [5]:
cadena[10]

'd'

In [6]:
# También considera los espacios en blanco

In [7]:
cadena [11]

' '

In [8]:
# ¿Qué me mostrará?
cadena[-5]

'a'

In [9]:
cadena[21]

'T'

In [10]:
# También lo puedo mostrar accediendo de manera inversa
cadena[-23]

'T'

In [12]:
# Para mostrar una subcadena[desde, hasta una antes]
# En java era substring()
cadena[3:8]

'versi'

In [13]:
#Para saber el tamaño de una cadena utilizamos len()
# Incluye espacios en blanco

In [14]:
len(cadena)

44

In [15]:
# Para mostrar una cadena en mayúscula utilizamos upper()
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLÓGICA DE LIMA SUR'

In [16]:
# Ojo ---- Solo lo muestra, porque el original sigue siendo igual
cadena

'Universidad Nacional Tecnológica de Lima Sur'

In [17]:
# Si desearas cambiarlo harias: cadena = cadena.upper()
cadena = cadena.upper()
cadena

'UNIVERSIDAD NACIONAL TECNOLÓGICA DE LIMA SUR'

In [18]:
# Para mostrar una cadena en minuscula utilizamos lower()
cadena.lower()

'universidad nacional tecnológica de lima sur'

In [19]:
# Generar una lista a partir de una cadena split()
cadena.split()

['UNIVERSIDAD', 'NACIONAL', 'TECNOLÓGICA', 'DE', 'LIMA', 'SUR']

In [20]:
# Generar una lista utilizando un criterio de separación a partir de una cadena.split()
# En este caso vamos a generar una lista de toda la cadena, utilizando como criterio de separación la letra "A"
cadena.split("A")

['UNIVERSID', 'D N', 'CION', 'L TECNOLÓGIC', ' DE LIM', ' SUR']

In [21]:
#Forma Clasica, concatenar con +
nombre = "Anggie Bravo"
print("Buenas Tardes " + nombre)

Buenas Tardes Anggie Bravo

In [26]:
# Utilizando el .format()
nombre = "Diego Casas"
edad = 17
print("hola {} ya sé que tienes {} años".format(nombre, edad))

hola Diego Casas ya sé que tienes 17 años

In [30]:
# Dar formato a números con muchos decimales
resultado =10/3
print("10/3 es {}".format(resultado))
print("10/3 es {r:1.3f}".format(r=resultado))

10/3 es 3.3333333333333335
10/3 es 3.333

In [32]:
# Dar formato con f
# La función f, esta disponible desde la versión 3.6
nombre = "Lucia Camarena"
edad = 17
print(f"Buenos días {nombre}, ya sé que tienes {edad} años")

Buenos días Lucia Camarena, ya sé que tienes 17 años

In [34]:
resultado =10/3
print(f"10/3 es = {resultado}")
print(f"10/3 es ={resultado:1.3f}")

10/3 es = 3.3333333333333335
10/3 es =3.333