# SEMANA 03
Anggie Bravo Aquilino

Temas:
    1. Números
    2. Variables
    3. Manejo de Cadenas
    4. Ingreso de Datos por teclado
    5. Operadores

  5. Operadores

In [1]:
# 5.1 Operadores aritméticos
# Se tiene: +,-,*,/,**,%,//

In [10]:
numero1 = 10
numero2 = 3
suma = numero1 + numero2
resta = numero1 - numero2
multiplicacion = numero1 * numero2
division = numero1 / numero2
residuo = numero1 % numero2
cociente = numero1 // numero2
potencia = numero1 **numero2
print(suma)
print(resta)
print(multiplicacion)
print(division)
print(residuo)
print(cociente)
print(potencia)

13
7
30
3.3333333333333335
1
3
1000

In [11]:
#5.2 Operadores de Asignación
#Se tiene: =, +=, -=, *=, /=, **=

In [12]:
numero = 5
numero = numero + 3
print(numero)

8

In [13]:
#La operación anterior también se puede expresar de la siguiente manera:
numero = 5
numero += 3
print(numero)

8

In [15]:
# Lo mismo se puede hacer con todos los casos, incluso con la potencia
#Ejemplo:
numero = 5
numero = numero ** 3
print(numero)

125

In [16]:
#La operación anterior también se puede expresar de la siguiente mane
numero = 5
numero **= 3
print(numero)

125

In [17]:
# 5.3 Operadores de Comparación
# Se tiene: ==, !=, <, >, <=, >=

In [19]:
#Ejemplo de igualdad ==
numero1 = 5
numero2 = 2
numero1 == numero2

False

In [20]:
# Con las cadenas funciona igual
nombre1 = "Juan"
nombre2 ="Juan"
nombre1 == nombre2

True

In [21]:
# 5.4 Operadores Lógicos
# Se tiene: and, or, not
numero1 = 5
numero2 = 6
numero3 = 7
numero4 = 8

In [22]:
numero1 < numero2

True

In [23]:
# El not invierte el resultado
not(numero1<numero2)

False

In [24]:
numero1<numero2 and numero3<numero4

True

In [25]:
#Tambien puedes utiliza paréntesis para ordenar tu operación 
(numero1<numero2 and numero3<numero4) or (numero3>numero4)

True

In [26]:
# 5.5 Operadores de Pertenencia
# Se tiene: in, not in

In [34]:
#Ejemplo:
aula=["Juan","Daniel","Ruben"]
alumno1="Diego"
alumno2="Juan"

In [35]:
# ¿Diego está en el aula?
alumno1 in aula

False

In [36]:
# ¿Juan está en el aula?
alumno2 in aula

True

In [37]:
# ¿Diego no está en el aula?
alumno1 not in aula

True

In [38]:
# ¿Juan no está en el aula?
alumno2 not in aula

False

In [39]:
# 5.6 Operadores de Identidad
# Se tiene: is, is not

In [43]:
aula1=["Juan","Daniel","Ruben"]
aula2=["Juan","Daniel","Ruben"]

# A continuación vamos a indicar que aulas va a compartir el mismo objeto que aula1
aula3 = aula1

In [44]:
#¿aula3 comparte el objeto que aula1?
aula3 is aula1

True

In [45]:
#¿aula3 comparte el objeto que aula2?
aula3 is aula2

False

In [46]:
#¿aula2 comparte el objeto que aula1?
aula2 is aula1

False

In [49]:
aula1.append("Diego")

In [50]:
#Al imprimir los elementos de la lista aula1 se observa
print(aula1)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [51]:
#Al imprimir los elementos de la lista aula3 se observa
print(aula3)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [52]:
#Al imprimir los elementos de la lista aula2 se observa
print(aula2)

['Juan', 'Daniel', 'Ruben']