# SEMANA 03
Anggie Bravo Aquilino

Temas 
1. Colecciones de Datos
2. Estructuras Decisivas y Estructuras Repetitivas en Python
3. Clases y objetos
4. Funciones

1. Colecciones de Datos

In [2]:
# 1.1 Listas
# Es una colección de elementos que puede ser ordenada, modificada, etc...
# Se identifica por los corchetes
# Ejemplo:
aula = ['Silvestre','Uñapillco','Bravo','Alagon']
print(aula)

['Silvestre', 'Uñapillco', 'Bravo', 'Alagon']

In [3]:
aula

['Silvestre', 'Uñapillco', 'Bravo', 'Alagon']

In [5]:
# Puede extraer cada elemento por su posición
print(aula[0])
print(aula[1])

Silvestre
Uñapillco

In [6]:
# Puedo asignar valor a una posición de la lista
aula[1]='Chavez'
aula[1]

'Chavez'

In [7]:
# Mostrar como quedo la lista
aula

['Silvestre', 'Chavez', 'Bravo', 'Alagon']

In [8]:
# Para agregar un elemento utilizamos append
aula.append("Navarro")
aula.append("Bravo")
aula

['Silvestre', 'Chavez', 'Bravo', 'Alagon', 'Navarro', 'Bravo']

In [9]:
# Para eliminar elementos utilizamos remove[]
aula.remove("Silvestre")
aula

['Chavez', 'Bravo', 'Alagon', 'Navarro', 'Bravo']

In [10]:
# Si hubiera varios elementos de valores iguales se elimina la primera coincidencia
aula.remove("Bravo")
aula

['Chavez', 'Alagon', 'Navarro', 'Bravo']

In [11]:
# Para obtener el tamaño utilizamos len()
len(aula)

4

In [12]:
# Para recorrer podemos utilizar una estructura repetitiva for
for alumno in aula:
    print(alumno)

Chavez
Alagon
Navarro
Bravo

In [15]:
# Para invertir la lista utilizamos reverse()
# Ojo: Invertir no significa ordenar en forma descendente sin invertir la lista
aula.reverse()
aula

['Bravo', 'Navarro', 'Alagon', 'Chavez']

In [17]:
#Para ordenar una lista utilizamos sort()
aula.sort()
aula

['Alagon', 'Bravo', 'Chavez', 'Navarro']

In [18]:
# 1.2 Tuplas
# Es una coleccion de elementos ordenada(ordenado significa que tiene un indice) que no se puede modificar, es inalterable
# No se pueden agregar elementos ni eliminar.
# Se identifica por los paréntesis.

tupla_aula= ('Silvestre', 'Chavez', 'Bravo', 'Alagon')
tupla_aula

('Silvestre', 'Chavez', 'Bravo', 'Alagon')

In [19]:
#
tupla_aula[2]

'Bravo'

In [20]:
# Para saber la cantidad de elementos de una tupla utilizamos len()
len(tupla_aula)

4

In [21]:
# 1.3 Conjuntos
# Es una colección de elementos que no están ordenados(Significa que no tienen indice)
conjunto_aula = {'Silvestre', 'Chavez', 'Bravo', 'Alagon'}
conjunto_aula

{'Alagon', 'Bravo', 'Chavez', 'Silvestre'}

In [22]:
# Se puede recorrer utilizando una estructura repetitiva
# Ejemplo:
for alumno in conjunto_aula:
    print(alumno)

Bravo
Alagon
Chavez
Silvestre

In [23]:
# Observación:
# No se puede acceder por posición, pues no considera indexación
# Ejemplo: conjunto_aula[2] devolverá un mensaje de error
conjunto_aula[2]

TypeError: 'set' object is not subscriptable

In [24]:
# Para saber la cantidad de elementos utilzamos len()
len(conjunto_aula)

4

In [26]:
# Para agregar utilizamos la función add()
conjunto_aula.add("Palomino")
conjunto_aula

{'Alagon', 'Bravo', 'Chavez', 'Palomino', 'Silvestre'}

In [27]:
# 1.4 Diccionarios
# Es una colección de elementos, que están indexados,  no están ordenados y se puede modificar
# Son escritos entre llaves y están formados por pares de elementos INDICE: VALOR

diccionario_aula = {2:'Alagon','1':'Bravo','dos':'Chavez','3':'Palomino','0':'Silvestre'}
diccionario_aula

{2: 'Alagon', '1': 'Bravo', 'dos': 'Chavez', '3': 'Palomino', '0': 'Silvestre'}

In [28]:
# Del diccionario: diccionario_aula extraer el valor cuyo índice sea cero en String
diccionario_aula['0']

'Silvestre'

In [29]:
diccionario_aula[2]

'Alagon'

In [30]:
diccionario_aula["1"]

'Bravo'

In [31]:
diccionario_aula["dos"]

'Chavez'

In [33]:
# Para añadir un par de elementos al diccionario hacemos:
diccionario_aula['20']="Vilca"
diccionario_aula

{2: 'Alagon',
 '1': 'Bravo',
 'dos': 'Chavez',
 '3': 'Palomino',
 '0': 'Silvestre',
 '20': 'Vilca'}

In [34]:
# Para eliminar un valor se utiliza la funcion pop()
# Ejemplo: Eliminar el elemento de indice dos, para eliminar a Alagon hacemos lo siguiente:
diccionario_aula.pop(2)
diccionario_aula

{'1': 'Bravo',
 'dos': 'Chavez',
 '3': 'Palomino',
 '0': 'Silvestre',
 '20': 'Vilca'}

In [35]:
# También se puede eliminar utilizando del()
del(diccionario_aula["dos"])
diccionario_aula

{'1': 'Bravo', '3': 'Palomino', '0': 'Silvestre', '20': 'Vilca'}

In [36]:
# Para poder recorrer todo los elementos podemos utilizar for
# Ejemplo: Devuelve los índices
for indice in diccionario_aula:
    print(indice)

1
3
0
20

In [37]:
# 1.5 Ejercicio:
# Dado una lista de [ALAGON, ARONES, BRAVO, CABEZAS,CAMAN, CAMARENA, CASAS,CORRALES, DE LA CRUZ, ESCOBAR, FELIX, FERNANDEZ, GARCIA, HUANUCO, NANQUEN, NAVARRO, PARILLO, QUISPE, SAIRA, SERNA, SILVESTRE,TOMASTO, UÑAPILLCO, VARGAS, VENTOCILLA,VENTURI, WONG, ZEVALLOS]
# Diseñar un código que muestre si el apellido de un estudiante (Ingresado por el teclado) forma parte de la lista
#tiempo: 12 minutos

In [55]:
aula_is=['ALAGON', 'ARONES', 'BRAVO', 'CABEZAS','CAMAN', 'CAMARENA', 'CASAS','CORRALES', 'DE LA CRUZ', 'ESCOBAR', 'FELIX', 'FERNANDEZ', 'GARCIA', 'HUANUCO', 'NANQUEN', 'NAVARRO', 'PARILLO', 'QUISPE', 'SAIRA', 'SERNA', 'SILVESTRE','TOMASTO', 'UÑAPILLCO', 'VARGAS', 'VENTOCILLA','VENTURI', 'WONG', 'ZEVALLOS']
print("Lista del aula_is: \n")
print(aula_is)

#Alumno 
print("\nIngrese el apellido del alumno del salon IS: ")
alumno1=input()

print("\nEl alumno se encuentra en el aula_is: ")
alumno1 in aula_is

Lista del aula_is:

['ALAGON', 'ARONES', 'BRAVO', 'CABEZAS', 'CAMAN', 'CAMARENA', 'CASAS', 'CORRALES', 'DE LA CRUZ', 'ESCOBAR', 'FELIX', 'FERNANDEZ', 'GARCIA', 'HUANUCO', 'NANQUEN', 'NAVARRO', 'PARILLO', 'QUISPE', 'SAIRA', 'SERNA', 'SILVESTRE', 'TOMASTO', 'UÑAPILLCO', 'VARGAS', 'VENTOCILLA', 'VENTURI', 'WONG', 'ZEVALLOS']

Ingrese el apellido del alumno del salon IS:
torres

El alumno se encuentra en el aula_is:

False